@import "../variables.scss";

.header {
    background-color: $lightBlue;
    height: $headerHeight;
    .header--logo {
        width: 60px;
    }
    .header--item-list__container {
        list-style-type: none;
        padding: 15px 0px;
        .header--item-list__item {
            text-decoration: none;
            float: left;
            padding: 0px 10px;
            color: white;
        }
    }
}