@import "../variables.scss";

.left-nav--container {
    background-color: $darkBlue;
    width: 200px;
    position: absolute;
    z-index: 999;
    top: 0px;
    height: 100vh;
    bottom: 0px;
    .left-nav {
        margin-top: 100px;
        list-style-type: none;
        .left-nav--item {
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            a {
                color: $lightBlue;
            }
        }
    }
}