// Global styles
#root {
    background: rgb(2,38,62);
    background: linear-gradient(122deg, rgba(2,38,62,1) 0%, rgba(0,88,142,1) 100%);
    height: 100vh; 
}

.App  {
    position: relative;
    background: inherit;
    .container-fluid{
        padding: 0;
    }
}

@import "./theme.scss";

// Layout
@import "./layout/header.scss";
@import "./layout/nav.scss";
@import "./layout/recentActions.scss";

// Utils 
@import "./utils/recentTickets.scss";
@import "./utils/BugContainer.scss";
@import "./utils/BugItem.scss";

// Pages
@import "./pages/bugs.scss";
