// Colors

$orange: #E08419;
$black: #000000;
$darkGray: #707070;
$lightGray1: #F4F4F4;
$lightGray2: #FAF8F0;
$mediumGray: #D3DDE6;
$lightBlue: #18A4E0;
$darkBlue: #043353;
$white: #FFFFFF;

// Font Sizes

$xsm: 10px;
$sm: 12px;
$m: 16px;
$lg: 21px;
$xlg: 24px;

